/* ==========================================================================
   [Generel element styles]
========================================================================== */
h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    color: $primary-dark;
}
h2 {
    color: $primary-light;
    font-weight: 300;
}
h3 {
    color: $primary-light;
    font-size: 30px;
}
h1.underline:after, h2.underline:after, h3.underline:after, h4.underline:after, h5.underline:after, h6.underline:after {
    content: "";
    display: block;
    width:30px;
    height: 1px;
    margin:auto;
    background: $secondary-dark;
    position: relative;
    top: 20px;
}
button, .button {
    display: inline-block;
    font-weight: bold;
    height: 43px;
    line-height: 40px;
    padding: 0px 40px;
    border-radius: 50px;
    border: 2px solid $secondary-dark;
    background: $secondary-dark;
    bottom: 47%;
    color: $white;
    margin: 10px 5px;
    text-decoration: none;
}
button.big, .button.big {
    height: 53px;
    line-height: 50px;
    padding: 0px 50px;
}
button.medium, .button.medium {
    height: 43px;
    line-height: 40px;
    padding: 0px 40px;
}
button.small, .button.small {
    height: 33px;
    line-height: 30px;
    padding: 0px 30px;
}
button.fit, .button.fit {
    width: 100%;
    text-align: center;
}
button:hover, .button:hover {
    color: $secondary-dark;
    background: $background;
    text-decoration: none;
}
button.outline, .button.outline {
    border: 2px solid $primary-dark;
    background: $primary-dark;
} 
button.outline:hover, .button.outline:hover {
    border: 2px solid $primary-dark;
    background: $background;
    color: $primary-dark;
}
button.blue, .button.blue {
    border: 2px solid $primary-dark;
    background: $primary-dark;
} 
button.blue:hover, .button.blue:hover {
    border: 2px solid $primary-dark;
    background: $background;
    color: $primary-dark;
}
button.padded, .button.padded {
    margin: 60px 0;
}
p {
    font-size: 17px;
    font-weight: 500;
    color: $secondary-light;
    margin: 10px 0;
    line-height: 25px;
    letter-spacing: 0.3px;
}
strong, b {
    color: $primary-light;
}
em {
    padding: 1px 9px;
    border-radius: 3px;
    color: black;
    font-size: 15px;
    line-height: 27px;
    background: $secondary-light;
}
a {
    color: $primary-dark;
    text-decoration: underline;
}
a:hover {
    color: $secondary-dark;
}
hr {
    border: 2px solid $border-color;
}
blockquote {
    border-left: $secondary-dark solid 4px;
    color: $primary-light;
    padding-left: 20px;
}
input, select, textarea {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid $border-color;
    margin: 10px 0;
}
textarea {
    width: 100%;
}
label {
    padding: 5px 10px 5px 0;
    margin: 5px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
thead {

}
tr {
}
th {
    padding: 10px;
    border-bottom: 1px solid $border-color;
    // background: $primary-dark;
    color: $secondary-dark;
}
td {
    padding: 10px;
    border-bottom: 1px solid $border-color;
}
::selection {
    background: $secondary-dark; /* Safari */
    color: $white;
}
::-moz-selection {
    background: $secondary-dark; /* Firefox */
    color: $white;
}

/* ==========================================================================
   [Helper classes]
========================================================================== */
/* No-nos */
.nopadding {
    padding: 0;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noclick {
    pointer-events: none;
}
/* Clear */
.clear {
    display: block;
    width: 100%;
    clear: both;
}
/* Line and space */
.line {
    width: 100%;
    display: block;
    clear: both;
    border-top: #c3c3c3 solid 1px;
    margin-top: 40px;
    padding-top: 40px;
    }
.line-dotted {
    border-top: #c3c3c3 dotted 1px;
}
.line-dashed {
    border-top: #c3c3c3 dashed 1px;
}
.space {
    width: 100%;
    height: 10px;
    clear: both;
    display: block;
}
/* ==========================================================================
   [Sticky header]
========================================================================== */
.sticky {
    background: rgba(255, 255, 255, 0.9);
    transition: all 300ms ease-in-out;
}
.sticky.sticked {
    animation: sticky 1000ms ease-in-out;
    position: fixed;
    z-index: 4;
}



body {
    background: $background;
    font-family: $font-family;
}

.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}


.h-menu ul {
    margin: 0;
}
.h-menu ul li {
    display: inline-block;
}
.h-menu ul li a {
    color: $primary-light;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    border: solid 1px $white;
    display: inline-block;
}
.h-menu ul li a:hover, .h-menu ul li.active a {
    border: solid 1px $secondary-light;
}

.social-links {
    float: right;
}
.social-links ul {
    margin: 0;
    padding: 0;
}
.social-links ul li {
    list-style: none;
    display: inline-block;
}
.social-links ul li a {
    display: inline-block;
    width: 46px;
    height: 46px;
    background-position: center;
    background-repeat: no-repeat;
}
.social-links ul li.facebook a {
    background-image: url(../img/facebook.png);
}
.social-links ul li.twitter a {
    background-image: url(../img/twitter.png);
}

.bg-dark {
    color: white;
}
.bg-dark h1, .bg-dark h3, .bg-dark h4, .bg-dark h5, .bg-dark h6  {
    color: $bg-dark-primary;
}
.bg-dark h2 {
    color: $bg-dark-secondary;
}

.bg-dark p {
    color: $bg-dark-primary;
}
.bg-dark a {
    color: $bg-dark-primary;
}
.bg-dark .strong, .bg-dark b {
    color: $bg-dark-primary;
}
.bg-dark button, .bg-dark .button {
    background: $bg-dark-primary;
    border: 2px solid $primary-dark;
    color: $primary-dark;
}
.bg-dark button:hover, .bg-dark .button:hover {
    background: $primary-dark;
    border: 2px solid $bg-dark-primary;
    color: $bg-dark-primary;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
  
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

