$font-family: 'Roboto', sans-serif;;
$primary-dark: #0149a1;
$primary-light: #5d6981;
$secondary-dark: #ff2d55;
$secondary-light: #7c8ca0;
$background: #ffffff; 
$border-color: #e4e6ea;
$black: #000000;
$white: #ffffff;
$bg-dark-primary: #ffffff;
$bg-dark-secondary: #5483bb;
$team-bg: #edeff1;